/openapi/*.yaml
/openapi/*.yml
/openapi/*.json
/backend/bin/
/backend/obj/
/backend/.vs/
/backend/README.md
/frontend/node_modules/
/frontend/dist/
/frontend/README.md
/cli/cli-client
/cli/login.json
/cli/README.md
.DS_Store