/openapi/*.yaml
/openapi/*.yml
/openapi/*.json
/backend/bin/
/backend/obj/
/backend/.vs/
/backend/Dockerfile
/backend/.dockerignore
/frontend/node_modules/
/frontend/dist/
/frontend/nginx.conf
/frontend/Dockerfile
/frontend/.dockerignore
/frontend/.env.development
/frontend/.env.production
/cli/.dockerignore
/cli/Dockerfile
.github
.DS_Store